.container {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
  .bottom-right {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image:hover{
    border: 1px solid purple;
    cursor: pointer;
  }