.containers{
    position: relative;
    color: rgba(255, 255, 255, 1);
    border-radius: 0px, 0px, 4px, 4px;
    
      
  }
  .bottom-right {
    position: absolute;
    height: 72px;
    left: -1px;
    width: 156px;
    font-weight: 500;
    text-align: left;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 4% ;
    overflow: hidden;
    padding-left: 20px;
    background:linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #000000 103.47%),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 103.47%);
    margin: 1px;
   
  }
  .list{
    list-style: circle;
  }
  .image:hover{
    cursor: pointer;
  }
  p{
    color:rgba(106, 106, 106, 1);
    letter-spacing: 2%;
  }
  @media (max-width: 640px){
    .bottom-right{
      width: 157.5px;
      height: 72px;
      left: -1px;
      top:110px;
    }
  }