.containers{
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
  .bottom-right {
    position: absolute;
bottom: 10px;
left: 15px;
    height: 72px;
    width: 156px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 4% ;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #000000 103.47%),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 103.47%);
  }
  .list{
    list-style: circle;
  }
  .image:hover{
    border: 1px solid purple;
    cursor: pointer;
  }
  p{
    color:rgba(106, 106, 106, 1);
    letter-spacing: 2%
    ;
  }
  @media (max-width: 640px){
    .bottom-right{
      width: 157.5px;
      height: 72px;
      left: -1px;
      top:110px;
    }
  }