.headerContact{
    line-height: 48px;

}
.width-input{
    width: auto;
}
.shadow{
    box-shadow: 0px 59.04428482055664px 40px 0px #C8C8C826;

}
.upper{
    height: 595px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 27px;
}
.upper .heading{
    margin: auto auto ;
}
.contactHeading{
    font-size: 45px;
}
@media (max-width: 620px){
    .contactHeading{
        font-size: 24px;
    }
    .width-input{
        width: -webkit-fill-available;
    }
}