
.main{
    height: 412px;
    width: 100%;
    overflow: hidden;
    
}
.backgroundMain{
    background-image: url("./Mask group.png");
    background-repeat: no-repeat;
    background-position: right;
}
.main img{
    float: right;
}
.lefts{

    margin-top: 30px;
}
.heading{
    line-height: 68px;
    letter-spacing: 3%;
}
.para{
    color: black;
    line-height:26px;
    letter-spacing:1%;
}
.buttonss{
    background-color: rgba(141, 46, 209, 1);
    font-weight: 500;
    border-radius: 5px;
    line-height: 27px;
}

@media (max-width: 620px) {
        .lefts{
            margin-left:2%;
        }
       
        .backgroundMain{
            background-image: url("../../assets/Background.png");
            background-repeat: no-repeat;
            background-position: right;
        }
        
        .button{
            height: 51px;
            width: 147px;
            font-size: 14px !important;
        }

}