.main{
    height: 412px;
    width: 100%;
    background-color: rgba(251, 251, 251, 1);
    overflow: hidden;
}
.lefts{
    margin-left: 8%;
    margin-top: 30px;
}
.heading{
    line-height: 68px;
    letter-spacing: 3%;
}
.para{
    color: black;
    line-height:26px;
    letter-spacing:1%;
}
.buttonss{
    background-color: rgba(141, 46, 209, 1);
    font-weight: 500;
    border-radius: 5px;
    line-height: 27px;
}
.rights img{
    margin-left: 79px;
}
@media (max-width: 1500) {
    .rights img{
        margin-left: 106px;
    }
  }
@media (max-width: 620px) {
        .lefts{
            margin-left:2%;
        }
        .rights{
            display: none;
        }
        .main{
            background-image: url("./Background.png");
        }
        
        .button{
            height: 51px;
            width: 147px;
            font-size: 14px !important;
        }

}